<div>
  <%= @kittens.each do |kitten| %>
    <%= "Name: " %>
    <%= kitten.name %><br>
    <%= "Age: " %>
    <%= kitten.age %><br>
    <%= "Cuteness: " %>
    <%= kitten.cuteness %><br>
    <%= "Softness: " %>
    <%= kitten.softness %><br>
    <%= button_to "Edit Kitten", edit_kitten_path(kitten.id), method: :get %>
    <%= button_to "Delete Kitten", kitten_path(kitten), method: :delete %><br><br>
  <% end %>
</div>