<div>
  <%= "Name: " %>
  <%= @kitten.name %><br>
  <%= "Age: " %>
  <%= @kitten.age %><br>
  <%= "Cuteness: " %>
  <%= @kitten.cuteness %><br>
  <%= "Softness: " %>
  <%= @kitten.softness %><br>
  <%= button_to "Edit Kitten", edit_kitten_path(params[:id]), method: :get %>
  <%= button_to "Delete Kitten", kitten_path(params[:id]), method: :delete %><br><br>
</div>